<section>
  <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Create a Post.
      </mat-panel-title>
    </mat-expansion-panel-header>
      <input type="file" name="file" id="file" (change)="uploadImage($event)">
      <div [hidden]="!uploadPercent">
        <mat-progress-bar mode="determinate" value="{{uploadPercent | async}}"></mat-progress-bar>
      </div>
      <div [hidden]="!image">
        <img [src]="image || '//:0' ">
      </div>
    <section>
      <mat-form-field>
        <input matInput placeholder="Post Title" [(ngModel)]="title">
      </mat-form-field>
    </section>
    <section>
      <ckeditor [(ngModel)]="content" rows="20">
      </ckeditor>
    </section>
    <section>
    <button mat-raised-button color="accent" (click)="createPost()" [disabled]="!title || !content || !image">{{buttonText}}</button>
    </section>
  </mat-expansion-panel>
</mat-accordion>
</section>

