<ng-container *ngIf="post">
  <div [hidden]="!editing">
    <mat-card>
      <mat-card-title>Update Post</mat-card-title>
      <section>
        <mat-form-field>
          <input matInput placeholder="Post Title" [(ngModel)]="post.title">
        </mat-form-field>
      </section>
      <section>
        <ckeditor [(ngModel)]="post.content" rows="20">
        </ckeditor>
      </section>
      <section>
        <button mat-raised-button color="accent" (click)="updatePost()">Update</button>
        <button mat-raised-button color="secondary" (click)="editing=false">Cancel</button>
      </section>
    </mat-card>
  </div>
  <div [hidden]="editing">
    <mat-card>
      <img src="{{post.image}}" alt="{{post.title}}" class="blog_img">
      <h5 class="blog-extras">Posted by {{post.author}}.</h5>
      <h6 class="blog-extras">Date published: {{post.published | date: 'MM/dd/yyyy'}}</h6>
      <mat-card-content>
        <h1 class="blog-title">{{post.title}}</h1> |
        <p class="blog_details" [innerHTML]="post.content"></p>
      </mat-card-content>
      <mat-card-actions align="end" *ngIf="auth.currentUserId === post.authorId">
        <button mat-fab color="accent" (click)="editing=true">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab color="primary" (click)="delete()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
